/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  scroll-padding-top: 3rem;
}

html {
  scrollbar-width: none; 
}

body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  color: #000000;
  margin: 0;
  padding: 0;
}

body.dark-mode {
  background-color: #000000;
  color: #fff;
}


/* i{
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #0085FF;
  pointer-events: none;
  animation: animate 2s linear forwards;
}

@keyframes animate {
  0%{
    opacity: 0.1;
    transform: translate(0,0);
  }
  100%{
    opacity: 0;
    transform: translate(var(--x), var(--y));
  }
} */

header {
  padding: 10px 20px;
  background-color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

body.dark-mode header #menu-toggle .bar{
  background-color: #ffffff;
}

body.dark-mode header{
  background-color: #000;
}

body.dark-mode header ul li a{
  color: #fff;
}

body.dark-mode #home{
  color: #fff;
  background-color: #000;
} 

body.dark-mode #home p{
  color: rgb(168, 168, 168)
} 

body.dark-mode #services{
  color: #fff;
  background-color: #000;
} 

body.dark-mode #services h1{
  color: #fff;
} 

body.dark-mode #portfolio{
  color: #fff;
  background-color: #000;
} 

body.dark-mode #portfolio h1{
  color: #fff;
} 

body.dark-mode #skills{
  color: #fff;
  background-color: #000;
} 

body.dark-mode #skills h1{
  color: #fff;
} 

body.dark-mode #resume h1{
  color: #fff;
} 

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 50px;
  margin-left: 50px;
}

nav ul {
  list-style-type: none;
  margin-right: 100px;
  display: flex;
}

nav ul li {
  margin-left: 30px;
}

nav ul li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 5px 15px;
  font-weight: 500;
  display: block;
  position: relative;
}

/* Underline effect */
nav ul li a::before {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  transition: width 0.3s ease;
}

body.dark-mode nav ul li a::before {
  background-color: #fff; /* White underline color for dark mode */
}

nav ul li a:hover::before {
  width: 100%;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  position: relative;
  z-index: 1001;
}

.menu-toggle .bar {
  height: 3px;
  width: 25px;
  background-color: rgb(0, 0, 0);
  margin: 4px 0;
  transition: 0.3s ease;
}

.profile-picture {
  margin-left: 70px;
}

.profile-picture img {
  width: 550px;
  height: 550px;
  margin-top: 120px;
  animation: floatImage 4s ease-in-out infinite;
}

@keyframes floatImage{
  0%{
      transform: translateY(0);
  }
  50%{
      transform: translateY(-2rem);
  }
  100%{
      transform: translateY(0);
  }
}

#home{
  background-color: white;
  color: black;
}

.container-home-section {
  margin-left: 80px;
  display: flex;
  flex-wrap: wrap;
}

.home-content {
  margin-top: 140px;
}

.home-content h1 {
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 0px;
}

.home-content h2 {
  font-size: 4.2rem;
  margin-bottom: 30px;
}

.home-content h2 span {
  color: #0085FF;
}

.home-content h3 {
  color: transparent;
  font-size: 4.2rem;
  -webkit-text-stroke: 4px #0085FF;
  margin-bottom: 30px;
}

.home-content p {
  width: 750px;
  color: #515151;
  font-size: 1.2rem;
  line-height: 2rem;
  text-align: justify;
  margin-bottom: 40px;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 30px;
  background-color: #000;
  width: 270px;
  align-items: center;
  text-align: center;
  padding: 5px;
  border-radius: 30px;
  border: 3px solid #0085FF;
}

.social-links a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-links a img {
  width: 45px;
  height: 45px;
}

.social-links a:hover {
  color: #0073b1;
}

/*services*/

#services {
  padding: 80px 20px;
  background-color: #ffffff;
}

.text-center {
  text-align: center;
  margin-bottom: 40px;
}

.text-center h1 {
  font-size: 2.5rem;
  color: #000000;
  margin-bottom: 10px;
}

.text-center h2 {
  font-size: 1.2rem;
  color: #0085FF;
  font-weight: 200;
}

#services .container {
  display: flex;
  justify-content: center;
}

.services-boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
  align-items: center;
}

.service-box {
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 10px 8px #a9a9a9;
  text-align: center;
  padding: 20px;
  border: 2px solid #0085FF;
  width: 350px;
  height: 300px;
}

body.dark-mode .service-box{
  box-shadow: none;
  background-color: black;
  color: white;
}

body.dark-mode .service-box h3{
  color: white;
}

.service-box img {
  margin-top: 30px;
  width: 120px;
  height: 120px;
  text-align: center;
  margin-bottom: 30px;
}

.service-box h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #333;
}

/*skills*/

#skills {
  padding: 80px 20px;
  background-color: #ffffff;
}

.text-center {
  text-align: center;
  margin-bottom: 40px;
}

.text-center h1 {
  font-size: 2.5rem;
  color: #000000;
  margin-bottom: 10px;
}

.text-center h2 {
  font-size: 1.2rem;
  color: #0085FF;
  font-weight: 200;
}

#skills .container {
  display: flex;
  justify-content: center;
}

.skills-boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.skills-box {
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 10px 8px #a9a9a9;
  text-align: center;
  padding: 20px;
  border: 2px solid #0085FF;
}

.skills-box img {
  width: 70px;
  height: 70px;
  max-width: 80px; /* Adjust the size of the images */
}

body.dark-mode .skills-box{
  box-shadow: none;
  background-color: black;
  color: white;
}

body.dark-mode .skills-box h3{
  color: white;
}

.skills-box img {
  width: 70px;
  height: 70px;
  max-width: 80px; /* Adjust the size of the images */
}

#darkmode-toggle-container {
  display: flex;
  align-items: center;
  margin-left: 20px; 
}

/*portfolio*/

#portfolio {
  padding: 80px 20px;
  background-color: #ffffff;
}

.text-center {
  text-align: center;
  margin-bottom: 40px;
}

.text-center h1 {
  font-size: 2.5rem;
  color: #000000;
  margin-bottom: 10px;
}

.text-center h2 {
  font-size: 1.2rem;
  color: #0085FF;
  font-weight: 200;
}

#portfolio .container {
  display: flex;
  justify-content: center;
}

.portfolio-boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
  align-items: center;
}

.portfolio-box {
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 10px 8px #a9a9a9;
  text-align: center;
  padding: 10px;
  border: 2px solid #0085FF;
  width: 350px;
  height: 250px;
}

body.dark-mode .portfolio-box{
  box-shadow: none;
  background-color: black;
  color: white;
}

body.dark-mode .portfolio-box h3{
  color: white;
}

.portfolio-box img {
  margin-top: 10px;
  text-align: center;
  border-radius: 30px;
  margin-bottom: 30px;
}

.portfolio-box h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #333;
}


label {
  width: 50px;
  height: 25px; 
  position: relative;
  display: block;
  background: #ebebeb;
  border-radius: 50px; 
  box-shadow: inset 0px 5px 15px rgba(0,0,0,0.4), inset 0px -5px 15px rgba(255,255,255,0.4);
  cursor: pointer;
  transition: 0.3s;
  margin: 0 auto; 
}

label:after {
  content: "";
  width: 20px; 
  height: 20px; 
  position: absolute;
  top: 2.5px; 
  left: 2.5px; 
  background: linear-gradient(180deg,#ffcc89,#d8860b);
  border-radius: 50%; 
  box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
  transition: 0.3s;
}

input:checked + label:after {
  left: calc(100% - 25px); 
  transform: translateX(0);
  background: linear-gradient(180deg,#777,#3a3a3a);
}

label svg {
  position: absolute;
  width: 15px; 
  top: 50%; 
  transform: translateY(-50%); 
  transition: 0.3s;
}

label svg.sun {
  left: 5px;
  fill: #fff;
}

label svg.moon {
  right: 5px; 
  fill: #7e7e7e;
}

input:checked + label svg.sun {
  fill: #7e7e7e;
}

input:checked + label svg.moon {
  fill: #fff;
}

/*resume*/
.resume {
  padding: 20px;
  max-width: 800px;
  margin: 20px auto;
  border-radius: 30px;
}

.resume .text-center{
  margin-top: 70px;
}

.resume .container {
  display: flex;
  flex-direction: column;
  border: 1px solid #0085FF; 
  border-radius: 30px;
  align-items: center;
}

.resume-section {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.resume-section h3 {
  margin-bottom: 50px;
  margin-top: 20px;
  font-size: 1.5rem;
  color: gray;
}

.education-timeline {
  position: relative;
  padding-left: 40px;
  list-style-type: none;
}

.education-timeline::before {
  content: '';
  position: absolute;
  left: 20px;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: #3498db;
}

.education-item {
  margin-bottom: 25px;
  padding-left: 40px; 
  width: 600px;
  position: relative;
  border: 2px solid #0085FF; 
  border-radius: 30px; 
  padding: 20px;
  transition: border-color 1.5s; 
}

.education-item::before {
  content: '';
  height: 20px;
  width: 20px;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid #0085FF;
  position: absolute;
  left: -33px; 
  top: 50%;
  transform: translateY(-50%);
  transition: background-color 1.5s, border-color 1.5s; 
}

.education-item:hover {
  border-color: #f00; 
}

.education-item:hover::before {
  background-color: #f00; 
  border-color: rgb(0, 0, 0); 
}

.education-item h4 {
  margin: 0;
  font-size: 1.2em;
  color: #333;
}

.education-item p {
  margin: 5px 0 0;
  color: #666;
}

.education-item .school-text{
  margin: 5px 0 0;
  font-size: 1.4rem;
  font-weight: 600;
  color: black;
}

body.dark-mode .resume-section h3{
  color: rgb(185, 185, 185);
}

body.dark-mode .education-item h4{
  color: rgb(219, 219, 219);
}

body.dark-mode .education-item .school-text{
  color: white;
}

body.dark-mode .education-item p{
  color: rgb(185, 185, 185);
}

/*contact*/
#contact {
  padding: 80px 20px;
}
.contact-form {
  display: flex;
  align-items: center;
  margin-top: 35px;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.contact-form img {
  width: 100%;
  max-width: 500px;
  top: 0;
  height: auto;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  margin-bottom: 0; 
}

form input,
form textarea {
  padding: 15px;
  border-radius: 0.5rem;
  border: none;
  font-family: sans-serif;
  outline: none;
  background: #0084ff1b;
  margin-bottom: 1rem;
  color: var(--text-color);
}

form input::placeholder,
form textarea::placeholder {
  color: var(--text-color);
}

form textarea {
  resize: none;
  height: 200px;
}

.contact-button {
  width: 160px;
  cursor: pointer;
  background: #0085FF;
  color: #fff;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  align-self: center;
  transition: all .50s ease;
}

.contact-button:hover {
  background: #0085FF;
  transform: scale(1.1);
}

.contact .text-center {
  margin-bottom: 0; 
}

body.dark-mode .contact .text-center h1{
  color: white;
}

body.dark-mode .contact .contact-form form input{
  border: 2px solid #0085FF;
}

body.dark-mode .contact .contact-form form textarea{
  border: 2px solid #0085FF;
}

/*footer*/
footer {
  background-color: #f4f4f4;
  color: #000000;
  padding: 20px 0;
  text-align: center;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-logo img {
  width: 80px; /* Adjust the size as needed */
  height: auto;
  margin-bottom: 10px;
}

.footer-text {
  font-size: 14px;
}

body.dark-mode footer{
  background-color: #101010;
  color: #c0c0c0;
}

/* Responsive Styles */
@media (max-width: 1024px) {
  .profile-picture img {
    width: 450px;
    height: 450px;
  }

  .home-content h2 {
    font-size: 3.5rem;
  }

  .home-content h3 {
    font-size: 3.5rem;
  }

  .home-content p {
    width: 600px;
    font-size: 1.1rem;
  }

  /* Position social links to the left */
  .social-links {
    justify-content: flex-start;
  }
}

@media (max-width: 768px) {
  .logo img {
    margin-left: 5px;
  }

  .social-links {
    margin-left: 30px;
  }

  nav ul {
    position: fixed;
    top: 0;
    right: -100%;
    width: 250px;
    height: 450px;
    background-color: #e6e6e6;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 30px 0 0 30px;
    transition: right 0.3s ease;
  }

  body.dark-mode nav ul{
    background-color: black;
    border: 1px solid #0085FF;
  }

  nav ul.show {
    right: -100px;
  }

  nav ul li{
    margin-top: 10px;
  }

  nav ul li a{
    text-align: center;
    line-height: 2.5rem;
    color: rgb(0, 0, 0);
  }

  .menu-toggle {
    display: flex;
  }

  .menu-toggle.show .bar:nth-child(1) {
    transform: rotate(45deg) translate(15px, 10px);
  }

  .menu-toggle.show .bar:nth-child(2) {
    opacity: 0;
  }

  .menu-toggle.show .bar:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -1px);
  }

  .container-home-section {
    flex-direction: column;
    align-items: center;
    margin-left: 0;
  }

  .home-content {
    margin-top: 10px; 
    text-align: center;
  }

  .home-content h2 {
    font-size: 3rem;
  }

  .home-content h3 {
    font-size: 3rem;
    -webkit-text-stroke: 3px #0085FF;
  }

  .home-content p {
    width: 100%;
    padding: 0 20px;
  }

  .profile-picture {
    margin-top: 10px;
    order: initial;
    margin-left: 0;
    order: -1;
  }

  .profile-picture img {
    width: 450px;
    height: 450px;
  }

  .social-links {
    justify-content: center;
  }
  .service-box,
  .portfolio-box,
  .skills-box {
    width: 100%; 
    max-width: 100%; 
  }

  .skills-box {
    width: calc(50% - 20px); 
    height: auto; 
    box-sizing: border-box;
    margin-bottom: 20px; 
  }

  .skills-box img {
    width: 60px;
    height: 60px; 
    max-width: 80px;
  }

  .text-center h1 {
    font-size: 2rem;
  }

  .text-center h2 {
    font-size: 1.2rem;
  }
  .education-timeline {
    padding-left: 25px;
  }

  .education-timeline::before {
    left: 10px;
  }

  .education-item {
    padding-left: 20px;
    width: 100%; 
  }

  .education-item::before {
    left: -25px;
  }

  .education-item h4 {
    font-size: 1rem;
  }

  .education-item p, .education-item .school-text {
    font-size: 1rem;
  }
  .contact-form {
    flex-direction: column;
    align-items: center;
}

.contact-button {
    margin-left: 0;
}
}

@media (max-width: 480px) {
  .home-content h1 {
    font-size: 1.8rem;
  }

  .home-content h2 {
    font-size: 2.5rem;
  }

  .home-content h3 {
    font-size: 2.5rem;
    -webkit-text-stroke: 2px #0085FF;
  }

  .profile-picture img {
    width: 250px;
    height: 250px;
  }
  .resume {
    padding: 10px;
  }

  .education-item {
    padding: 15px;
    width: 100%;
  }

  .education-item::before {
    left: -28px;
  }

  .education-item h4, .education-item p, .education-item .school-text {
    font-size: 0.9rem;
  }
  .contact-form form{
    width: 300px;
  }
  .contact-button{
    margin-left: 25%;
  }
}
